body{
	background: #000;
	color: #00ff00;
	font-family: monospace;
	font-size: 18px;
}

a{
	color: yellow;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem; /* Space between menu and carousel */
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.main_list_container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_list_container ul {
	/*list-style-type: none;*/
	padding: 0;
	margin: 0; /* Reset margin, spacing is handled by .content-wrapper */
}

#terminal{
	white-space: pre-wrap;
	min-height: 300px;
}

li{
	padding: 1.5rem;
	font-size: 1.4rem;
}

h1{
	font-size: 1.8rem;
	padding-left: 20px;
	padding-bottom: 3px;
}
h2{
	font-size: 1.0rem;
	padding-left: 20px;
	padding-top: 0px;
	margin: 0px;
}

input{
	background: #144215;
	color: #00ff00;
	border: none;
	outline: none;
	font-family: monospace;
	font-size: 18px;
  width: 300px;
}

/* --- Simple CSS Carousel --- */
.simple-carousel {
  width: 100%;
  max-width: 450px;
  height: 50%;
  margin: 0; /* Reset margin, spacing is handled by .content-wrapper */
  overflow: hidden;   /* Hides the image that is not active */
  border-radius: 5px;
}

.carousel-images {
  display: flex;
  width: 3900%;          /* Container for 39 images */
  animation: slide 78s steps(39, end) infinite; /* 78s animation loop, 2s per image */
}

.carousel-images img {
  width: calc(100% / 39);/* Each image takes up 1/39 of the container */
  flex-shrink: 0;        /* Prevents images from shrinking */
  /*height: 100%; no funciono ajustar el largo*/
  max-height: 300px;
  border-radius: 5px;
}

@keyframes slide {
  to {
    transform: translateX(-100%);
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}

